

html, body {
	height: 100%;
	background-color: #ecf0f1;
	font-family: "Source Sans Pro", sans-serif;
}

body{
	padding-top:50px;
	font-size: 1.5rem;
}

.bg-light{
	background-color: #ddd;
}

.bigBack{
	height: 100%;
	/*padding-bottom: 100%;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*----home section----*/

#home{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	background-image: 
	url(../images/liberty.jpg);
	color: #ead879;
	text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' color */
}

#home h1{
	font-size: 63px;
	border-bottom: 1px solid #FFFFFF;
}

#home p{
	font-size: 28px;
}

/*----about section----*/
#about{
	padding-top: 50px;
	padding-bottom: 50px; 
}

#about img {
	border-radius: 50%;
	border: 5px solid #ead879;
	max-width: 246px; 
	max-height: 246px; 
	vertical-align: middle;

}

/*----resume section----*/

#resume {
	padding-top: 50px;
	padding-bottom: 50px;
}

#resume ul li{
	list-style: none;
}

#resume i{
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	text-shadow: none;
}

.align-right{
	text-align: center;
}

date {
	font-style: italic;
}

/*----contact section----*/
#contact{
	background-image: 
	url(../images/landscape.jpg);
}

/*----contact section----*/
#contact i{
	color: #ead879;
	text-shadow: 0 0 2px #000;
}

.date{
	color: blue;
}
/* 
was going to be used to force user into landsacpe mode

#warning-message { 
 	padding-top: 50%;
 	text-align: center;
 	display: none; }

    @media only screen and (orientation:portrait){

        #wrapper { display:none; }
        html, body{
        	height: 100%;
        	padding-top: 0px;
        	background-image: 
	url(../images/liberty.jpg);
	background-size: cover;
		background-repeat: no-repeat;

        }

        #warning-message { display:block; }

    }

    @media only screen and (orientation:landscape){

        #warning-message { display:none; }

    }*/
