/** {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p,ul{
	margin-bottom: 20px;
}*/

/*html, body {
	height: 100%
}*/

body{
	padding-top:50px;
}

.bigBack{
	/*height: 100%;*/
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#about{
	position: relative;
	padding-top: 50px;
	padding-top:10%;
	text-align: center;
	background-image: 
	url(../images/liberty.jpg);
}

#resume {
	position: relative;
	padding-top: 50px;
	text-align: center;
}

#resume ul li{
	list-style: none;
}


#skills{
	position: relative;
	background-image: 
	url(../images/landscape.jpg);
}

#top-about,
#top-skills{
	position: absolute;
	top: -50px;
}
